*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.school-logo{
    width: 200px;
}
.Header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/handsraised.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navigation{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font-family: 'BPG Phone Sans Bold';
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{ 
    color: #fff ;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content:'' ;
    width: 0%;
    height: 2px;
    background: #ABA47B;    ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    text-align: center;
    font-family: 'BPG Phone Sans Bold';
}
.system{
    background-color:white;
    border-radius: 20px;
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.welcome-text{
    font-family: 'MG Glaho Drunk';
}
.under-welcome{
    font-size: 18px;
}
.under-welcome-section1{
    font-size: 16px;
    font-style:italic;
    font-weight: bold;
    color: #98F78D;
    font-family: 'BPG Phone Sans Bold';
}
.about-text{
    font-size: 20px;
    text-align: center;
}
.welcome-text-about{
    text-align: center;
    font-family: 'MG Glaho Drunk';
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

/* BUTTON */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding:12px 34px ;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #ff889b;
    background: #ff889b;
    transition: 1s;
}
nav .fa{
    display:none ;
}
/* SECTION 2 */

.Stages{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.section2{
    /* background-color:#e4e4f9; */
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner.jpg);
}
h1{
    font-size: 37px;
    font-weight: 600;
}
p{
    color: #74172b;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.class-col{
    flex-basis: 31%;
    background: #efffff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0 ;
}
/* .class-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
} */

/* სექცია სამი  */
.school{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.section3{
    background-color: #e4e4f9;
}
.school-col{
     flex-basis:32%;
     border-radius:10px ;
     margin-bottom: 30px;
     position: relative;
     overflow: hidden;
}
.school-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
   transition:0.5s ;
}
.layer:hover{
    background: rgba(207, 78, 175, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/* სექცია 4 */
.body-mission{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4f9;
}
.mission-section{
    background: url(../images/raisinghands.jpg) no-repeat left;
    background-size: 55%;
    background-color: #e4e4f9;
    overflow: hidden;
    padding: 100px 0;
}
.mission-container{
    width:55%;
    float: right;
    background-color: rgb(245, 199, 199);
    padding: 150px;
    border-radius: 45%;
}
.mission-container h1{
    margin-bottom: 36px;
    font-size: 37px;
    font-weight: 800;
    text-align: center;
    font-family: 'MG Glaho Drunk';
}
.mission-text{
    font-size: 20px;
    color: teal;
    line-height: 30px;
    margin-bottom: 40px;
    justify-content: space-between;
    font-family: 'BPG Phone Sans Bold';
    text-align: center;
}
.dec{
    text-decoration: none;
}
.mission-span{
    display: flex;
    justify-content:space-between ;
    font-weight:700;
    font-size: 20px;
    font-family: 'MG Glaho Drunk';
}
/* gallery */
.flex-container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    background:rgb(211, 205, 230);
}
.flex-bg{
    background:rgb(211, 205, 230);
}
.flex-title h1{
    font-family: 'MG Glaho Drunk';
    font-size: 27px;
    text-align: center;
    display: block;
    padding-top: 50px;
    font-weight: 600;
    margin-bottom:20px;
}
.flex-title a{
    text-decoration: none;
}
.flex-div{
    max-width: 400px;
    margin: auto;
}
.flex-div img{
    width: 100%;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: 3px dotted rgb(97, 84, 139);
    border-radius: 10px;
}
.flex-div img:hover{
    animation: shakeImg 0.3s;
    animation-iteration-count:1 ;
}
@keyframes shakeImg {
    0% { transform: translate(1px, 1px) rotate(5deg); }
 }
 /* about us header */
.about-header-us{
    height: 23vh;
    width: 100%;
    background-image: linear-gradient(rgba(209, 92, 174, 0.7),rgba(197, 37, 149, 0.7));
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
 .about-header-gallery h1{
    margin-top: 100px;
}
/* gallery Header */
.about-header-gallery{
    height: 23vh;
    width: 100%;
    background-image: linear-gradient(rgba(109, 124, 184, 0.7),rgba(129, 145, 207, 0.7));
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.about-header-gallery h1{
    margin-top: 100px;
}
.admin:hover{
    filter: grayscale(220);
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top:80px ;
    padding-bottom:50px ;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
    line-height: 28px;
}
/* gallery html */

.gallery-container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    background:rgb(240, 208, 208);
}
.gallery-bg{
    background:rgb(240, 208, 208);
}
.gallery-title h1{
    font-family: 'MG Glaho Drunk';
    font-size: 30px;
    text-align: center;
    display: block;
    padding-top: 50px;
    font-weight: 600;
    margin-bottom:20px;
    margin-bottom: 20px;
}
.gallery-title a{
    text-decoration: none;
}
.gallery-div{
    max-width: 400px;
    margin: auto;
}
.gallery-div img{
    width: 100%;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: 3px inset rgb(97, 84, 139);
    border-radius: 10px;
}
.gallery-div img:hover{
    animation: shakeImg 0.3s;
    animation-iteration-count:1 ;
}
@keyframes shakeImg {
    0% { transform: translate(1px, 1px) rotate(-80deg); }
 }
.gallery-div img{
    border-radius: 20px;
}
/* ტექსტი--mission  */
.blog-content{
    width: 80%;
    margin: auto;
    padding:58px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: black;
    font-weight: 600;
    margin: 30px 0 ;
    font-family: 'MG Glaho Drunk';
}
.blog-left p{
    padding: 0;
    color: black;
}
/* location mail contact */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    font-family: 'MG Glaho Drunk';
    text-align:center;
    color: crimson;
}
.contact-us{
    width: 100%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 20px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #92e77d;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
    font-family: 'BPG Phone Sans Bold';
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(24, 22, 22);
    font-weight: 400;
    font-family: 'BPG Phone Sans Bold';
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.red-btn{
    border: 1px solid green;
    color: green ;
}
.red-btn:hover{
    color: red;
}
.comment-form button{
    margin: 10px 0;
}
/* FOOTER */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom:25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.instagram{
    font-size: 50px;
    font-family: 'MG Glaho Drunk';
    text-align: center;
    margin-top: 50px;   
    line-height: 20px;
}


